body{
    background-image:url(../img/Tren.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}
@font-face {
    font-family: blood;
    src: url(../fonts/bloodcrowc.ttf),  format('truetype',contours );   /*compatibilidad con  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5  */
}
.titulo>h1{
    font-family: blood;/*Fuente*/
    position: absolute;
    width: 99%;
    text-align: center;
    margin: 0px;
    font-size: 7.5em;
    color:red;
}
