body{
    background-image:url(../img/fondoO.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    overflow: hidden;
}
#principal{
    left: 0;
    top: 0;
    margin: 0;
    size: 100vw;
    height: 90vh;
    margin:0;
}
#uta{
    position: relative;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
}
iframe{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: myOneFont;
    src: url(../fonts/one\ piece\ font.ttf),  format('truetype');   /*compatibilidad con  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5  */
}
.titulo{
    position: relative;
    width: 26%;
    height: 12%;    
    left: 34%;
    top: 10%;
    background-color: darkgray;
}
.titulo>h1{
    font-family: myOneFont, Fantasy;/*Fuente*/
    position: absolute;
    text-align: center;
    padding-left: 6%;
    margin: 0px;
    font-size: 7.5em;
    background: -webkit-linear-gradient(rgb(255, 255, 255),red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
@keyframes moverabajo {
    0% {
      /* Estado inicial del cuadrado e imagen */
      transform: translateY(110vh);
    }
    50% {
      /* Estado intermedio a la mitad de la animación */
      transform: translateY(0%);
    }
    100% {
      /* Estado final del cuadrado e imagen */
      transform: translateY(110vh);
    }
  }
  
  /* Estilo del cuadrado e imagen */
  .pinguino {
    width: 10%;
    height: 100vh;
    position: relative;
    left: 0;
    animation: moverabajo 8s ease-in-out infinite;
  }
  img{
    position: relative;
   
  }